<div class="card">
  <header class="card-header">
    <div class="column">
      <a href="/post/{{id}}">{{title}} </a></p>
    </div>
  </header>

 <div class="card-content">
    <div class="content">
        {{post_content}}
    </div>
    <div class="post-footer">
    <b>{{user.username}}</b> | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
        
    </div>